.desc_div{
    padding:20px;
    margin:20px;
    width: 300px;
    background-color:fafafa;
    border-style:solid;
    border-width: thin;
    border-color: black;
    border-bottom-right-radius: 10%;
}
.img_div{
    width:100px;
    height:100px;
    border-style:solid;
    border-width: thin;
    border-radius: 100%;
    border-color: black;
    text-align: center;
    vertical-align: center;
}
.btn{
    display:block;
    width: 80px;
    height:30px;
    background-color: 728edb;
    color:white;
    padding: 5px;
    text-align:center;
    border-style:solid;
    border-color:728edb;
    border-radius: 5%;
}